nav {
  height: 40px;
  background-color: yellow;
}
nav a {
    height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 15px;
  padding: 15px;
  box-sizing: border-box;
}
nav a:hover {
  border: solid 2px black;
}
